body{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    background-image: url(../../../assets/img/beige-tiles.png);
}
h1 {
    font-size: 25px;
}

.car-title{
    margin: 0px;
}

.control-btns-block{
    display: flex;
    gap: 5px;
}

.control-btn-block{
    display: flex;
    gap: 5px;
}

.forms-block{
    display: flex;
    flex-direction: column;
    gap: 6px;
}


.garage-block{
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.controls-block{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.text-input{
    appearance: none;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    border-radius: 4px;
}

.color-input {
    appearance: none;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    border-radius: 4px;
}

.control-block{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 40px;
}

.finish-icon{
    position: absolute;
    right: 20%;
    width: 50px;
    height: 50px;
}

.create-car-form{
    display: flex;
    flex-direction: row;
    gap: 3px;

}

.update-car-form{
    display: flex;
    flex-direction: row;
    gap: 3px;
    
}

.car-icon{
    position: relative;
    left:0%;
    width: 109px;
    height: 54px;
}

.car-icon.drive{
    transform: translateX(600px);
}

.car-block{
    display: flex;
    flex-direction: column;
    border-bottom: 2px dotted black;
}

.winner-title{
    font-size: 35px;
    position: absolute;
    top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    transition: all 3s ease-in-out;
}

.control-btn, .engine-btn, .submit-input, .pagination-btn {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "Poppins", sans-serif;
  height: 30px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 15px;
}

.control-btn:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}
.engine-btn:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}
.submit-input:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}
.pagination-btn:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.control-btn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}
.engine-btn:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}
.submit-input:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}
.pagination-btn:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.control-btn:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}
.engine-btn:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}
.submit-input:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

.pagination-btn:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

.control-btn:disabled{
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}
.engine-btn:disabled{
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}
.submit-input:disabled{
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

.pagination-btn:disabled{
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

.control-block.hide{
    visibility: hidden;
}
.garage-block.hide{
    visibility: hidden;
}


